$icomoon-font-family: "helpical" !default;
$icomoon-font-path: "../fonts" !default;
$icon-send: "\e90a";
$icon-ticketplus: "\e908";
$icon-upload: "\e909";
$icon-unread: "\e914";
$icon-incoming: "\e900";
$icon-outgoing: "\e90e";
$icon-plus: "\e90f";
$icon-read: "\e910";
$icon-ticket: "\e911";
$icon-timeplus: "\e912";
$icon-timeupdate: "\e913";
$icon-level4: "\e901";
$icon-level1-path1: "\e902";
$icon-level1-path2: "\e903";
$icon-level2-path1: "\e904";
$icon-level2-path2: "\e905";
$icon-level3-path1: "\e906";
$icon-level3-path2: "\e907";
$icon-printer: "\e954";
$icon-replay: "\e968";
$icon-cross: "\ea0f";