.--helpical {
    &-satisfaction {
        opacity: 0.2;
        transition: opacity 0.5s;
        &:hover,
        &.active {
            opacity: 1;
        }
    }
    &-ticket {
        &-send {
            display: none;
        }
        &-header {
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }
        &-comment {
            margin-right: auto;
            &.--helpical-customer-ticket {
                margin-right: unset !important;
                & .--helpical-ticket-comment-inner {
                    background-color: #DFF6E9 !important;
                }
            }
            &.--helpical-system-ticket {
                margin-left: auto;
                & .--helpical-ticket-comment-inner {
                    background-color: #F2F3F8 !important;
                }
            }
            &-inner {
                color: #666;
                background-color: #D8EEFD;
                text-align: justify;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                &-identify {
                    &-img {
                        border: 3px solid white;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        &-table {
            border-collapse: collapse !important;
            tr {
                border-bottom: 1px solid $gray-300;
                transition: all 0.5s;
                &:not(:nth-child(1)) {
                    background-color: rgba(252, 252, 252, 1) !important;
                    color: rgba(112, 112, 112, 1);
                    font-weight: 200;
                    &:hover {
                        background-color: rgba(242, 242, 242, 1) !important;
                    }
                }
                td,
                th {
                    padding: 0.8rem 0.5rem;
                    &:first-child {
                        width: 20px;
                        padding-right: 1rem !important;
                    }
                    &:nth-child(2) {
                        width: 10px;
                        text-align: center;
                    }
                    &:nth-child(4) {
                        width: 300px !important;
                        min-width: 300px !important;
                        padding-right: 1.75rem !important;
                        text-align: right;
                    }
                    &:nth-child(3) {
                        min-width: 300px;
                        text-align: right;
                        &>a:hover {
                            user-select: none !important;
                            cursor: pointer !important;
                        }
                    }
                    &:nth-child(5) {
                        min-width: 140px;
                        text-align: center;
                    }
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(8) {
                        width: 45px;
                        text-align: center;
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
    &-newTicket {
        min-height: 100vh;
        &-form {
            box-shadow: 0px 5px 8px #0000001A;
            border-radius: 10px;
            &-input {
                &:focus {
                    border: 1px solid var(--primary) !important;
                }
            }
        }
        &-important {
            &-icon {
                filter: grayscale(90%);
                transition: all 0.5s;
                cursor: pointer;
                &:hover,
                &.active {
                    filter: grayscale(0%) !important;
                }
            }
        }
    }
    &-input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        .--helpical-form-control:not(:last-child) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        .--helpical-form-control:not(:first-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        &-append {
            margin-right: -1px;
            display: flex;
            .--helpical-input-group-text {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &-prepend {
            margin-left: -1px;
            display: flex;
            .--helpical-input-group-text {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &-text {
            display: flex;
            align-items: center;
            padding: 0.375em 0.75em;
            margin-bottom: 0;
            text-align: center;
            white-space: nowrap;
            border-radius: 0.25em;
        }
        .--helpical-form-control {
            position: relative;
            flex: 1 1 auto;
            width: 1%;
            min-width: 0;
            margin-bottom: 0;
        }
    }
}